.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.oxb-sticker {
  position: relative;
  float: right;
  margin: 15px 15px 0 0;
  height: 100px;
}

.oxb-full {
  position: relative;
  margin-top: 50px;
  width: 63%;
  left: 58px;
}

.social-items {
  padding: 100px;
}

.social-icons {
  font-size: 50px;
  color: rgb(212,175,55);
  margin: 10px;

  &:hover {
    color: black;
  }
}

h1 {
  margin-top: 0;
}

.book {
  // position: fixed !important;
  // float: left;
  // bottom: 2vh;
  // left: 15px;
  font-family: "Times New Roman", Times, serif !important;
  background-color: black !important;
  color: white !important;
  width: 200px;
  height: 60px;
  margin: 10px 5px 0 5px !important;


  &:hover {
    background-color: rgb(212,175,55) !important;
    color: black !important;
  }

}

.footer-wrapper {
  height: 100px;
}

@media only screen and (max-width: 600px) {

  .oxb-full {
    margin-top: 200px;
  }

}
